* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, #7B0BA3 28.98%, #3200C0 100%);
}

html {
    height: auto;
}

.img-header {
    background: url(../img/jpg/img-living-header.jpg);
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 24px;
}

.img-footer {
    background: url(../img/png/footer-content.png);
    height: 181px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 0;
}

.svg-title-header {
    margin-bottom: 100px;
    height: 95.34px;
    width: 256px;
}

@media (max-width: 1213px) {
    .svg-title-header  {
        height: 63.23px;
        width: 386px;
        margin-bottom: 50px;
    }
}

.paragraph-style-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    line-height: 161.69%;
}

p {
    margin: 0;
}

@media (max-width: 1213px) {
    .paragraph-style-header  {
        font-size: 16px;
    }
}

.footer-style {
    bottom: 0;
}

.content-btn-circle {
    background: #664FF0;
    box-shadow: 0px 0px 32px rgba(173, 11, 250, 0.5), inset 0px 0px 18px 11px rgba(0, 0, 0, 0.4);
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

.content-global-carrousel {
    width: 708px;
}

.img-carrousel {
    width: 708px;
    height: 350px;
}

.title-song-content {
    background-color: rgba(0, 0, 0, 0.308);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title-song {
    color: #fff;
    font-size: 24px;
}

@media (max-width: 756px) {
    .title-song {
        font-size: 20px;
    }
}

h2 {
    margin: 0;
}


.content-btons {
    width: 100%;
    bottom: 0;
}

.audio-content {
    height: 50px;
    width: 100%;
    z-index: 2;
    bottom: 0;
    padding: 0 100px;
}